<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hotels in Singapore</title>
  </head>
  <body>

    <h1> Hotels </h1>

    <% hotels.forEach(function(hotel) {%>
      <div>
        <h2> <%= hotel.name %> </h2>
        <address> <%= hotel.address %></address>
        <img src="<%= hotel.image %>"/>
        <% if (hotel.minPrice === null){ %>
          <p> All Rooms Booked </p>
        <%} else  { %>
          <p> Price: <%= hotel.minPrice %></p>
          <p> Source: <%= hotel.minPriceSource %></p>
        <% } %>
      </div>
    <% }) %>

  </body>
</html>
